[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = domain.key
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName                = Country Name (2 letter code)
countryName_default        = PH
stateOrProvinceName        = State or Province Name (full name)
stateOrProvinceName_default= Metro-Manila
localityName               = Locality Name (eg, city)
localityName_default       = Manila
organizationName           = Organization Name (eg, company)
organizationName_default   = Newstars INC.
commonName                 = Common Name (e.g. server FQDN or YOUR name)
commonName_default         = 52.221.188.143

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 =52.221.188.143